LocalServicesEJB/ejbModule/META-INF/wsdl/LocalMessageServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ejbs.sample.ls.ibm.it/" version="1.0" xmlns:tns="http://ejbs.sample.ls.ibm.it/">

  <xs:element name="getLocalMessage" type="tns:getLocalMessage"/>

  <xs:element name="getLocalMessageResponse" type="tns:getLocalMessageResponse"/>

  <xs:complexType name="getLocalMessage">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getLocalMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>